{% extends 'modals/base_modal.html' %}

<!-- Modal id -->
{% block modal-id %} id="logout-modal" {% endblock %}

<!-- Modal title -->
{% block modal-title %} 
<i class="fas fa-power-off"></i>&nbsp;&nbsp; Logout
{% endblock %}

<!-- Modal body -->
{% block modal-body %} 
<br>
<span class="text-danger">
    <i class="fas fa-power-off fa-3x"></i>
</span>
<div class="text-danger mb-3 mt-4">
    ¿Estás seguro que deseas finalizar la sesión?
</div>
{% endblock %}

<!-- Modal button -->
{% block modal-button %} 
<a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm btn-modal">Logout</a>
{% endblock %}