{% extends 'base.html' %}

{% block title %} error 500 {% endblock title %}
{% block bg-image %}{% endblock bg-image %}
{% block typed %}{% endblock typed %}

{% block sidebar-inbox %}
<a href="/inbox/" class="btn btn-secondary">Volver</a>
{% endblock sidebar-inbox %}

{% block sidebar %}
<a href="/inbox/" class="btn btn-secondary">Volver</a>
{% endblock sidebar %}

{% block content %}
<div class="text-center error">
    <div class="text-center text-danger">
        {% block error-body %}
        <span class="fa-stack fa-8x">
            <i class="fas fa-ban fa-stack-2x"></i>
            <i class="text-dark fas fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        {% endblock error-body %}
    </div>
    <h6 class="text-danger mt-4 error-txt2"> {% block error-message %}El mensaje no existe !{% endblock error-message %}</h6>
    <div class="error-txt1 mt-3 mb-3">
        <span class="fw-bold"> {% block note-error %} Importante: </span>
        Este mensaje probablemente fue eliminado de su bandeja de entrada {% endblock note-error %}
    </div>
    
</div>
{% endblock content %}
    
    